{
    "semi": true,
    "singleQuote": true,
    "jsxSingleQuote": false,
    "tabWidth": 4,
    "endOfLine": "crlf",
    "printWidgt": 80,
    "bracketSameLine": true,
    "arrowParens": "always",
    "htmlWhitespaceSensitivity": "css"
}
